@font-face{
    font-family: 'Pretendard-Bold';
    src:url('../font/Pretendard-Bold.woff2');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../font/Pretendard-Medium.woff2');
}

*{
    font-family: 'Pretendard-Medium';
}

.mp-container {
    position: relative;
    width: 88.75rem;
	height: 37.5rem;
}

.mp-nav {
    display: flex;
    align-items: center;
    margin-left: 9rem;
}
.mp-nav a {
    color: #737373;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
    text-decoration: none;
    font-family: 'Pretendard-Bold';
    font-size: 1.2rem;
}
.mp-nav a.active {
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.select-view {
    margin-top: 1.4rem;
    margin-left: 28rem;
    padding: 5px;
    font-size: 0.8rem;
}

.mp-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 30rem;
	margin-top: 1.5rem;
    margin-left: 16rem;
	margin-right: 16rem;
    column-gap: 2.4rem;
}

.mp-item {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 5px;
}

.mp-item img {
    object-fit: cover;
    border-radius: 10px;
}

.mp-text {
    margin-top: 0.5rem;
    margin-left: 1.6rem;
}
.mp-text a,p {
    margin: 0.5rem;
}
.mp-text a {
    color: black;
}
.mp-color {
    color: #6ab04c;
    font-family: 'Pretendard-Bold';
}
.mp-color2 {
    color: #737373;
}
.item-title {
    font-family: 'Pretendard-Bold';
    font-size: 1.6rem;
    text-decoration: none;
}

hr {
    width: 65%;
}

.page-nation li{
	list-style: none;
}
.page-wrap{
	text-align: center;
	font-size: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 39rem;
}
.page-nation{
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-nation a{
	display: block;
	margin: 0 0.5rem;
	float: left;
	padding: 0.5rem;
	border-radius: 1.875rem;
	text-align: center;
	font-size: 13px;
	color: black;
	text-decoration: none;
	font-family: 'Pretendard-Bold';
}

/* .pagination {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	padding: 1rem;
    margin-top: 1rem;
}
.pagination a {
	text-decoration: none;
	color: #888;
	padding: 0.5rem;
	border-radius: 1.875rem;
}
.pagination a.active {
	background-color: #6ab04c;
	color: white;
	font-weight: bold;
} */