@font-face{
    font-family: 'Pretendard-Bold';
    src:url('../font/Pretendard-Bold.woff2');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../font/Pretendard-Medium.woff2');
}

*{
    font-family: 'Pretendard-Medium';
}

.mp-container {
    position: relative;
    width: 88.75rem;
	height: 37.5rem;
}

.mp-nav {
    display: flex;
    align-items: center;
    margin-left: 9rem;
}
.mp-nav a {
    color: #737373;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
    text-decoration: none;
    font-family: 'Pretendard-Bold';
    font-size: 1.2rem;
}
.mp-nav a.active {
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.mp-list {
    height: 30rem;
	margin-left: 16rem;
	margin-right: 16rem;
	margin-top: 0;
}

.mp-list td {
	padding-bottom: 0.5rem;
}

.mp-list img {
    object-fit: cover;
}

.item-title {
    font-family: 'Pretendard-Medium';
    text-decoration: none;
    color: black;
}

hr {
    width: 65%;
}

.page-nation li{
	list-style: none;
}
.page-wrap{
	text-align: center;
	font-size: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 39rem;
}
.page-nation{
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-nation a{
	display: block;
	margin: 0 0.5rem;
	float: left;
	padding: 0.5rem;
	border-radius: 1.875rem;
	text-align: center;
	font-size: 13px;
	color: black;
	text-decoration: none;
	font-family: 'Pretendard-Bold';
}