/* 전체 페이지를 중앙에 배치하기 위한 설정 */
.review-detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

form {
    display: flex;
    width: 100%; /* 전체 영역 사용 */
    max-width: 1200px; /* 적당한 최대 너비 지정 */
    margin: 0 auto; /* 가운데 정렬 */
}

/* 뒤로가기 버튼 스타일 */
.btn-container {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.back-btn img {
    width: 24px; /* 아이콘 크기 */
    height: auto;
    cursor: pointer;
    display: block;
}

/* 중앙 정렬을 위한 컨테이너 */
.review-detail-container {
    display: flex;
    justify-content: center; /* 텍스트와 이미지가 가운데로 가까워지도록 정렬 */
    align-items: flex-start; /* 상단 정렬 */
    max-width: 800px; /* 전체 너비 제한 */
    width: 90%; /* 컨테이너 너비 */
    padding-left: 2rem; /* 전체 컨테이너 좌측에 여백 추가 */
}

/* 왼쪽 영역: 리뷰 정보 */
.review-info {
    flex: 2; /* 텍스트 영역 비율 */
    padding-right: 10px; /* 오른쪽 여백 줄임 */
}

.review-info h1 {
    font-size: 1.8rem; /* 제목 크기 */
    margin-bottom: 1rem; /* 아래 여백 */
    padding-left: 0;
}

.review-info h2 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    padding-left: 0;
}

.review-info p {
    font-size: 1rem; /* 텍스트 크기 */
    margin: 0.5rem 0; /* 텍스트 간 여백 */
    line-height: 1.6; /* 줄 간격 */
    font-family: 'Pretendard-Medium';
    align-items: flex-start;
    padding-left: 0;
    color: #656565d3;
}

/* 키워드 스타일 */
.keyword {
    display: inline-block;
    background-color: #00462a;
    color: #ffffff;
    padding: 0.4rem 0.7rem;
    border-radius: 15px;
    margin: 0.3rem;
    font-size: 0.8rem;
    font-family: 'Pretendard-Medium';
}
.keyword2 {
    display: inline-block;
    background-color: #46c97b;
    color: #ffffff;
    padding: 0.4rem 0.7rem;
    border-radius: 15px;
    margin: 0.3rem;
    font-size: 0.8rem;
    font-family: 'Pretendard-Medium';
}

/* 리뷰 내용 */
.review-content {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    width: 90%;
    max-width: 720px;
    margin-top: 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    font-family: 'Pretendard-Medium';
}

/* 오른쪽 영역: 이미지 */
.review-images {
    flex: 1; /* 이미지 영역 비율 */
    display: flex;
    justify-content: center; /* 이미지를 가운데로 정렬 */
    align-items: center;
}

.review-images img {
	object-fit: cover;
}

.image-box {
    width: 350px; /* 이미지 너비 */
    height: 250px; /* 이미지 높이 */
    background-color: #d7d5d5; /* 임시 배경색 */
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 */
    margin-top: 20px;
}
