@font-face{
    font-family: 'Pretendard-Bold';
    src:url('../font/Pretendard-Bold.woff2');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../font/Pretendard-Medium.woff2');
}

*{
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 전체 컨테이너 */
.main{
    position: relative;
    width: 88.75rem;
	height: 37.5rem;
}

.category-nav {
	display: flex;
	padding: 1rem;
	margin-top: 0.7rem;
	margin-left: 13.5rem;
	font-size: 1.4rem;
	height: 1.5rem;
	align-items: center;
}
.category-nav a, p {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.category-nav a.active {
	background-color: #6ab04c;
	color: white;
}
.subcategory-nav {
	width: 500px;
	height: 30px;
	justify-content: space-around;
	align-items: center;
	background-color: #f0f0f0;
	padding: 5px;
	display: none;
  	z-index: 1;
}
.subcategory-nav a {
	text-decoration: none;
	color: #737373;
	padding: 5px;
}
.subcategory-nav.active {
	display: flex;
}
#subcategory1 {
	margin-left: 12.5rem;
}
#subcategory2 {
	margin-left: 14.5rem;
}
#subcategory3 {
	margin-left: 16.5rem;
}
#subcategory4 {
	margin-left: 18.5rem;
}


/* 새 리뷰 등록 버튼 */
.add-review-btn {
    background-color: #00462A;
    color: white;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Pretendard-Bold';
	margin:0;
	position: absolute;
	text-align: right;
	left: 67rem;
	top: 3rem;
	text-decoration: none;
}
.review-count {
	font-size: 0.9rem;
	color: #737373;
	margin-top: 0.3rem;
	position: absolute;
	width: 12.5rem;
	height: 3rem;
	left: 65rem;
	top: 5.5rem;
}

/* 리뷰 목록 */
.review-list {
    height: 30rem;
	place-items: center;
	margin-left: 12.2rem;
	margin-right: 12.2rem;
	margin-top: 1.5rem;
}
.review-list td {
	padding: 0.25rem;
	padding-bottom: 0.5rem;
}
.review-list img {
	object-fit: cover;
}
.review-text {
	width: 285px;
	height: 110px;
	margin-top: 0.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
	overflow: hidden;
}
.title-text {
	font-family: 'Pretendard-Bold';
	font-size: 1.2rem;
}

.page-nation li{
	list-style: none;
}
.page-wrap{
	text-align: center;
	font-size: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 39rem;
}
.page-nation{
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-nation a{
	display: block;
	margin: 0 0.5rem;
	float: left;
	padding: 0.5rem;
	border-radius: 1.875rem;
	text-align: center;
	font-size: 13px;
	color: black;
	text-decoration: none;
	font-family: 'Pretendard-Bold';
}