@font-face{
    font-family: 'Pretendard-Bold';
    src:url('../font/Pretendard-Bold.woff2');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../font/Pretendard-Medium.woff2');
}

*{
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 전체 컨테이너 */
.main{
    position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
    width: 88.75rem;
	height: 37.5rem;
}

.category-nav {
	display: flex;
	padding: 1rem;
	margin-top: 1rem;
	margin-left: 11rem;
	font-size: 1.3rem;
	height: 1.5rem;
	align-items: center;
}
.category-nav a, p {
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.category-nav a.active {
	background-color: #6ab04c;
	color: white;
}
.subcategory-nav {
	display: flex;
	width: 300px;
	height: 30px;
	justify-content: space-around;
	align-items: center;
	background-color: #f0f0f0;
	padding: 5px;
	visibility: hidden;
}
.subcategory-nav a {
	text-decoration: none;
	color: #737373;
}

/* 새 리뷰 등록 버튼 */
.review-header {
    position: absolute;
	text-align: right;
	width: 12.5rem;
	height: 6.25rem;
	left: 65rem;
	top: 3.5rem;
}

.add-review-btn {
    background-color: #00462A;
    color: white;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 1rem;
    font-weight: bold;
}

/* 리뷰 목록 그리드 */
.review-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
    height: 30rem;
	place-items: center;
	margin-left: 12.2rem;
	margin-right: 12.2rem;
	margin-top: 1rem;
}

.review-item {
    display: flex;
    background-color: #FFFFFF;
    justify-items: start;
    border-radius: 10px;
    margin: 5px;
}

.review-image {
    width: 140px;
    height: 140px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.review-text {
    margin-top: 10px;
    flex: 1;
}

.review-text strong {
    font-size: 1.2rem;
    color: #333;
    display: block;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-align: center;
}

.review-text p {
    font-size: 0.8rem;
    color: #737373;
    display: block;
    text-align: center;
    margin-top: 0.6px;
}

a {
    text-decoration: none;
}

.pagination {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	padding: 1rem;
}
.pagination a {
	text-decoration: none;
	color: #888;
	padding: 0.5rem;
	border-radius: 1.875rem;
}
.pagination a.active {
	background-color: #6ab04c;
	color: white;
	font-weight: bold;
}