@font-face{
    font-family: 'Pretendard-Bold';
    src:url('../font/Pretendard-Bold.woff2');
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../font/Pretendard-Medium.woff2');
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: 'Pretendard-Medium';

}
.main-logo{
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.title{
    font-family: 'Pretendard-Bold';
    font-size: 25px;
    margin-bottom: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.input{
    width: 450px;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    font-size: 15px;
}
.margin-bottom{
    margin-bottom: 25px;
}
.check-btn{
    width: 45px;
    margin-left: 5px;
    height: 50px;
    background-color: #00462A;
    color: white;
    outline: none;
    font-size: 12px;
    border: 0;
}

.check-btn:hover{
    background-color: #67ab90;
}
.direction-row{
    display: flex;
    width: 500px;
    height: 50px;
    
}
.email-container{
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.email-input{
    padding-left: 15px;
    width: 230px;
    height: 50px;
    font-size: 15px;
}
.submit-btn{
    width: 500px;
    height: 50px;
    background-color: #00462A;
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    color: #f2f2f2;
    cursor: pointer;
}
.tel-container{
    width:500px;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    font-size: 15px;
}
#id-check-msg, #pw-check-msg{
    height: 25px;
    width: 500px;
    font-size: 12px;
    margin-left: 10px;
    align-content: center;
    color: #00462A;
    
}
