@font-face{
    font-family: 'Pretendard-Bold';
    src:url('../font/Pretendard-Bold.woff2');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../font/Pretendard-Medium.woff2');
}

*{
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.navbar {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	width: 88.875rem;
	height: 5rem;
	display: flex;
	background-color: #00462A;
}
.search_area {
	width: 15rem;
	height: 2.5rem;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 3.125rem;
	margin-top: 1.1875rem;
	display: flex;
	background-color: #ffffff;
	border-radius: 1.875rem;
	justify-content: center;
	align-items: center;
}
#search-input {
	height: 2.0rem;
	border-width: 0;
	margin: 0;
	outline: 0;
}
#search{
	background-color: white;
	margin: 0;
	border: 0;
	cursor: pointer;
}
.navbar__menu {
	display: flex;
	align-items: center;
	
	margin-left: 8.125rem;
	list-style: none;
}
.navbar__menu > li {
	margin-left: 5.3125rem;
	
}
.menu-title {
	font-size: 1.2rem;
	color: #939393;
	text-decoration: none;
}
.active {
	font-size: 1.2rem;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.navbar__logo {
	margin-top: 0.625rem;
}

.white-container{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	background-color: #ffffff;
	min-width: 120px;
	height: 40px;
	border-radius: 20px;
	color: #939393;
}
.id-container{
	margin-left: 25px;
	cursor: pointer;
}
.mypage-container{
	margin-top:0;
	
}

.logout-container{
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00462A;
	width: 35px;
	height: 35px;
	border-radius: 20px;
	margin-right: 1px;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
}
#heart{
    color:grey;
    font-size: 50px;
}

#heart.red {
    color:red;
}