<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
{% block head %}{% endblock %}
</head>
<body>
<nav class="navbar">
<div class="navbar__logo">
    <a href="/"><img src="../static/svg/rogo.svg" alt = "rogo"></a>
</div>
<div class = "search_area">
    <input type="text" placeholder="상품, 판매자, 지역 검색">
    <a id="search" href=""><img src="../static/svg/search.svg" alt = "search"></a>
</div>
<ul class="navbar__menu">
    {% if session['id'] %}
    <li><a href="/logout"><b>{{session['id']}}님 반갑습니다!</b>logout</a></li>
    {% else %}
    <li><a href="/login">로그인</a></li>
    {% endif %}
    <li><a href="/list">상품 목록</a></li>
    <li><a href="/review">상품 리뷰</a></li>
    <li><a href="/reg_items">상품 등록</a></li>
    
</ul>
<a href="#" class="navbar__toogleBtn">
<i class="fas fa-bars"></i>
</a>
</nav>
<section>
    {% block section %}
    {% endblock section %}
</section>
</body>
</html>