<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
{% block head %}{% endblock %}
</head>
<body>
<nav class="navbar">
<div class="navbar__logo">
    <a href="/"><img src="{{ url_for('static', filename='svg/rogo.svg') }}" alt = "rogo"></a>
</div>
<div class = "search_area">
    <input type="text" placeholder="상품, 판매자, 지역 검색">

    <a id="search" href=""><img src="{{ url_for('static', filename='svg/search.svg') }}"  alt = "search"></a>

</div>
<ul class="navbar__menu">
    <li><a href="/list">상품 목록</a></li>
    <li><a href="/review">상품 리뷰</a></li>
    
    {% if session['id'] %}
    <li><a href="/reg_items">상품 등록</a></li>
    <li class="mypage-container">
        <div class="white-container">
            <div class="id-container">{{session['id']}}</div>
            <div class="logout-container"><a href="/logout"><img src="{{ url_for('static', filename='svg/logout.svg') }}"alt="로그아웃"></a></div>
        </div>
    </li>
    {% else %}
    <li><a href="/login">로그인</a></li>
    {% endif %}
</ul>
</nav>
<section>
    {% block section %}
    {% endblock section %}
</section>
</body>
</html>