<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화마켓:로그인</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="main-logo">
        <a href="/">
            <img src="../static/svg/loginLogo.svg" alt="loginLogo" />
            </a>
       </div>
    <div class="container">
        <div class="title">로그인</div>
        <div class="form-container">
            <form action="" method="post">
                <input id="id-input" type="text" value="" name="id" placeholder="아이디를 입력하세요">
                <div class="pw-container">
                    <input id="password-input"
                    type="password" name="password" 
                    placeholder="비밀번호를 입력하세요"
                >
                <i class="pwHide"><img src="../static/svg/pwHide.svg" alt="pwHiveBtn"></i>
                </div>
                <div class="control-container">
                    <input type="checkbox" id="a" class="screen-reader">
                    <div class="label-box">
                        <span class="check-icon" aria-hidden="true"></span>
                        <label for="a">로그인 유지</label>
                    </div>
                </div>
                
                <input id="loginBtn" type="submit" value="로그인">
            </form>
            <hr class="hr-style">
            <div class="btn-container">
                
                <button class="btn">아이디 찾기</button>
                <hr class ="fake-hr">
                <button class="btn">비밀번호 찾기</button>
                <hr class ="fake-hr">
                <button class="btn" onclick="location.href = '/reg_user'">회원가입</button>
                
            </div>
            <hr class="hr-style">
        </div>
    </div>
</body>
</html>