{% extends "index.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/my_like.css') }}">
{% endblock %}
{% block section %}
<div class="mp-container">
    <div class="mp-nav">
        <a href="/my_page/{{user_id}}" class="back-arrow">←</a>
        <a href="" class="active">좋아요한 상품</a>
        <a href="/my_post/{{user_id}}">내가 게시한 상품</a>
        <a href="/my_review/{{user_id}}">내가 작성한 리뷰</a>
    </div>
    <hr>
    <div class="mp-list">
        <table>
        <tr>
            {% for key, value in row1 %}
            <td onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;">
                <img width=200, height=200, src="../../static/images/{{value['img_path']}}"><br>
                <a class=item-title href="">{{value.item}}</a>
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row2 %}
            <td onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;">
                <img width=200, height=200, src="../../static/images/{{value['img_path']}}"><br>
                <a class=item-title href="">{{value.item}}</a>
            </td>
            {% endfor %}
        </tr>
        </table>
    </div>
    <div class="page-wrap">
        <div class="page-nation">
          <ul>
            <li>
              {% for i in range(page_count)%}
              <a href="{{url_for('my_like', page=i)}}" color="black">{{i+1}}</a>
              {% endfor %}
            </li>
          </ul>
        </div>
    </div>
</div>
{% endblock section %}