{% extends "index.html" %}

{% block section %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/my_page.css') }}">
{% endblock %}

<div class="con">
    <div class="back-btn-container">
        <div onclick="goBack()"><img src="{{ url_for('static', filename='svg/goBack.svg') }}" alt="goback" /></div>
    </div>
    <div class="profile-container">
        <div class="title margin-left">My Page</div>
        <div class="user-info-container margin-left">
            <div class="row">
                <div class="info-title">아이디</div>
                <div class="gray-color">{{session['id']}}</div>
            </div>
            <div class="row">
                <div class="info-title">이메일</div>
                <div class="gray-color">ewhain@ewhain.net</div>
            </div>
            <div class="row">
                <div class="info-title">휴대폰 번호</div>
                <div class="gray-color">010-1234-5678</div><button class="profile-edit-button"
                    onclick="location.href='/profile_edit'">프로필편집</button>
            </div>
        </div>
        <div class="item-info">
            <div class="one-third">
                <hr class="small-hr">
                <div class="center item-title"><span class="green-heart">♥</span>좋아요한 상품</div>
                <div class="center">
                    <div class="row margin-bottom">
                        <div class="image-box1"></div>
                        <div class="item-name">2온스 영어 학잠</div>
                    </div>
                    <div class="row  margin-bottom">
                        <div class="image-box1"></div>
                        <div class="item-name">2온스 영어 학잠</div>
                    </div>
                    <div class="row  big-margin-bottom ">
                        <div class="image-box1"></div>
                        <div class="item-name">2온스 영어 학잠</div>
                    </div>
                    <div><button class="detail-button">상세보기</button></div>
                </div>

            </div>
            <div class="one-third">
                <hr class="small-hr">
                <div class="center item-title">등록한 상품 (3)</div>
                <div class="center">
                    <div class="row  margin-bottom">
                        <div class="image-box1"></div>
                        <div class="item-name">2온스 영어 학잠</div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="image-box1"></div>
                        <div class="item-name">2온스 영어 학잠</div>
                    </div>
                    <div class="row big-margin-bottom">
                        <div class="image-box1"></div>
                        <div class="item-name">2온스 영어 학잠</div>
                    </div>
                    <div><button class="detail-button">상세보기</button></div>
                </div>

            </div>

            <div class="one-third">
                <hr class="small-hr">
                <div class="center item-title">작성한 리뷰 (2)</div>
                <div>
                    <div class="column">

                        <div style="text-align: left; margin-bottom: 15px;">
                            <div class="review-item">상품: 2온스 영어 금사 학잠</div>
                            <div class="row">
                                <div class="image-box1"></div>
                                <div>
                                    <div class="green-star">★★★★★</div>
                                    <div>제목 : m사이즈 학잠 후기</div>
                                </div>
                            </div>

                        </div>
                        <div style="text-align: left;  margin-bottom: 12px;">
                            <div class="review-item">상품: 2온스 영어 금사 학잠</div>
                            <div class="row">
                                <div class="image-box1"></div>
                                <div>
                                    <div class="green-star">★★★★★</div>
                                    <div>제목 : m사이즈 학잠 후기</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><button class="detail-button">상세보기</button></div>
                </div>
            </div>

        </div>


    </div>
    <hr class="big-hr">
    <div class="secession"><div>회원 탈퇴</div></div>
</div>
{% endblock %}