{% extends "index.html" %}

{% block section %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/my_page.css') }}">
{% endblock %}

<div class="con">
    <div class="back-btn-container">
        <div onclick="goBack()"><img src="{{ url_for('static', filename='svg/goBack.svg') }}" alt="goback" /></div>
    </div>
    <div class="profile-container">
        <div class="title margin-left">My Page</div>
        <div class="user-info-container margin-left">
            <div class="row">
                <div class="info-title">아이디</div>
                <div class="gray-color">{{session['id']}}</div>
            </div>
            <div class="row">
                <div class="info-title">이메일</div>
                <div class="gray-color">{{user_data.id}}</div>
            </div>
            <div class="row">
                <div class="info-title">휴대폰 번호</div>
                <div class="gray-color">{{user_data.tel}}</div><button class="profile-edit-button"
                    onclick="location.href='/profile_edit'">프로필편집</button>
            </div>
        </div>
        <div class="item-info">
            <div class="one-third">
                <hr class="small-hr">
                <div class="center item-title"><span class="green-heart">♥</span>좋아요한 상품</div>
                <div class="center">
                    {% for key, value in three_hdata %}
                    <div onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;" class="row margin-bottom">
                        <div class="image-box1"><img src="../../static/images/{{value['img_path']}}" width="60px"height="40px"></div>
                        <div class="item-name">{{key}}</div>
                    </div>
                    {% endfor %}
                    <div onclick="location.href='/my_like/{{user_id}}/';"><button class="detail-button">상세보기</button></div>
                </div>

            </div>
            <div class="one-third">
                <hr class="small-hr">
                <div class="center item-title">등록한 상품 ({{ptotal}})</div>
                <div class="center">
                    {% for key, value in three_pdata %}
                    <div onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;" class="row margin-bottom">
                        <div class="image-box1"><img src="../../static/images/{{value['img_path']}}" width="60px"height="40px"></div>
                        <div class="item-name">{{key}}</div>
                    </div>
                    {% endfor %}
                    <div onclick="location.href='/my_post/{{ user_id }}/';"><button class="detail-button">상세보기</button></div>
                </div>

            </div>

            <div class="one-third">
                <hr class="small-hr">
                <div class="center item-title">작성한 리뷰 ({{rtotal}})</div>
                <div>
                    <div class="column">
                        {% for key, value in two_rdata %}
                        <div onclick="location.href='/review_detail/{{key}}/';" style="cursor:pointer;" style="text-align: left; margin-bottom: 15px;">
                            <div class="review-item">상품: {{key}}</div>
                            <div class="row">
                                <div class="image-box1"><img src="../../static/images/{{value['img_path']}}" width="60px"height="40px"></div>
                                <div>
                                    <div class="green-star">{% if value['rate_item'] == "0" %}
                                        ☆☆☆☆☆ 
                                        {% elif value['rate_item'] == "1" %}
                                        ★☆☆☆☆
                                        {% elif value['rate_item'] == "2" %}
                                        ★★☆☆☆
                                        {% elif value['rate_item'] == "3" %}
                                        ★★★☆☆
                                        {% elif value['rate_item'] == "4" %}
                                        ★★★★☆
                                        {% elif value['rate_item'] == "5" %}
                                         ★★★★★
                                        {% endif %}</div>
                                    <div>{{value['title']}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div onclick="location.href='/my_review/{{user_id}}/';"><button class="detail-button">상세보기</button></div>
                </div>
            </div>

        </div>


    </div>
    <hr class="big-hr">
    <div class="secession"><div>회원 탈퇴</div></div>
</div>
{% endblock %}