{% extends "index.html" %}

{% block section %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/my_page.css') }}">
{% endblock %}
<div class="con">


<div class="back-btn-container">
    <div><img src="{{ url_for('static', filename='svg/goBack.svg') }}" alt="goback"/></div>
</div>
<div class="profile-container">
    <div><div>이화인</div></div>
    <div>
        <div>
            <div>이화인</div>
            <div>
                <div>총 구매 5건</div>
                <div>총 판매 3건</div>
            </div>
        </div>
        <div>
            <div><div>아이디</div><div>{{session['id']}}</div></div>
            <div><div>이메일</div><div>{{session['id']}}</div></div>
            <div><div>휴대폰 번호</div><div>{{session['id']}}</div></div>
        </div>
        <div>
            <button>프로필 편집</button>
        </div>
    </div>
    
</div>
<div>
    <div>
        <hr>
        <div>

        <div>
            <div>구매내역</div>
            <div>
                <div>수요조사 중<div>1 개</div></div>
                <div>수요조사 마감<div>0 개</div></div>
                <div>판매중<div>2 개</div></div>
            </div>
        </div>
        <div>
            <div>판매 내역</div>
            <div>
                <div>수요조사 중<div>1 개</div></div>
                <div>수요조사 마감<div>0 개</div></div>
                <div>판매중<div>2 개</div></div>
                <div>판매중<div>1 개</div></div>
            </div>
        </div>
    </div>
        <div>
            <button>상세보기</button>
        </div>
    </div>
    <div>
        <hr>
        <div>
            <div>받은 리뷰(3)</div>
            <div>
                <div>상품: 2온스 영어 금사 학잠</div>
                <div>
                    <div></div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}


