{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_detail.css') }}">
{% endblock %}

{% block section %}
<div class="product-detail-container">
    <a href="/list" class="back-arrow">←</a> <!-- 뒤로가기 버튼 -->
    <div class="image-container">
        <div class="product-image">
            <img src="../../static/images/{{data.img_path}}" width="300px"height="300px">
        </div>
        <button onclick="location.href='/reg_review_init/{{name}}/';">리뷰등록</button>
    </div>
    <div class="details-container">
        <div class="breadcrumbs"> {{data.major_category}} > {{data.detail_category}}</div>
        <h1 class="product-title">{{name}}</h1>
        <p class="price">{{data.price}} 원</p>
        
        <div class="product-info">
            <p><strong>판매자 ID</strong> {{data.seller_id}}</p>
            <p><strong>배송 방법</strong> {{data.delivery_method}}</p>
            <p><strong>판매 지역</strong> {{data.addr}}</p>
            <p><strong>제품 상태</strong> {{data.is_preorder}} </p>
        </div>
        
        <div class="button-container">
            <a href="/review" class="review-btn">이 제품의 리뷰 보러 가기</a>
            <a href="/purchase" class="buy-btn">제품 구매하기</a>
        </div>

        <div class="product-description">
            <h2>상품 설명</h2>
            <p>{{data.itemexp}}</p>
        </div>
    </div>
</div>
{% endblock section %}
