{% extends "index.html" %}


{% block section %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_detail.css') }}">
{% endblock %}

<div class="product-detail-container">
    <div class="content-container">
        <!-- 이미지 및 버튼 섹션 -->
        <div class="image-section">
            <a href="/list" class="back-arrow">←</a> <!-- 뒤로가기 버튼 -->
            <div class="image-container">
                <img src="../../static/images/{{data.img_path}}" alt="상품 이미지">
            </div>
            <div class="image-buttons">
                <button onclick="location.href='/reg_review_init/{{name}}/';" class="review-btn">리뷰 등록</button>
                <a href="/review" class="review-btn">리뷰 보기</a>
            </div>
            <div class="buy-button-container">
                <button onclick="location.href='/purchase/{{name}}/';" class="buy-btn">제품 구매하기</button>
            </div>
        </div>

        <!-- 상세 정보 섹션 -->
        <div class="details-container">
            <div class="breadcrumbs"> {{data.major_category}} > {{data.detail_category}}</div>
            <h1 class="product-title">{{name}}</h1>
            <p class="price">{{data.price}} 원</p>
            
            <div class="product-info">
                <p><strong>판매자 ID</strong><span class="divider">|</span> {{data.seller_id}}</p>
                <p><strong>배송 방법</strong><span class="divider">|</span> {{data.delivery_method}}</p>
                <p><strong>판매 지역</strong><span class="divider">|</span> {{data.addr}}</p>
                <p><strong>제작 방식</strong><span class="divider">|</span> {{data.is_preorder}}</p>
            </div>
            
            <!-- 상품 설명 -->
            <div class="product-description">
                <h2>상품 설명</h2>
                <p>{{data.itemexp}}</p>
            </div>
        </div>
    </div>
</div>




<script>
    function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{name}}/',
            data: {},
            success: function (response) {
                let my_heart = response['my_heart'];
                if (my_heart['interested'] == 'Y') {
                    $("#heart").css("color", "red");
                    $("#heart").attr("onclick", "unlike()");
                } else {
                    $("#heart").css("color", "grey");
                    $("#heart").attr("onclick", "like()");
                }
            }
        });
    }

    function like() {
        $.ajax({
            type: 'POST',
            url: '/like/{{name}}/',
            data: { interested: "Y" },
            success: function (response) {
                alert(response['msg']);
                window.location.reload();
            }
        });
    }

    function unlike() {
        $.ajax({
            type: 'POST',
            url: '/unlike/{{name}}/',
            data: { interested: "N" },
            success: function (response) {
                alert(response['msg']);
                window.location.reload();
            }
        });
    }

    $(document).ready(function () {
        showHeart();
    });
</script>




{% endblock section %}
