{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reg_items.css') }}">
<script src="{{ url_for('static', filename='reg_items.js') }}" defer></script>
{% endblock %}

{% block section %}
<div class="main-container">
    <div class="reg-item-container">
        <div class="btn-container">
            <a href="/list"><img src="{{ url_for('static', filename='svg/goback.svg') }}" alt="gobackbtn"></a>
        </div>
        <form method="post" enctype="multipart/form-data" action="/submit_item_post">

            <div class="left">
                <input name="img_path" type="file" class="image-upload hidden" accept="image/*">
                <div class="upload"><div class="image-preview">(이미지 등록)</div></div>
                <div>
                    <div class="delivery_method">배송 방법 선택</div>
                    <div class="radio-div">
                        <input type="radio" name="delivery_method" id="직거래" value="직거래"><label for="직거래">직거래</label>
                        <input class="mg" type="radio" name="delivery_method" id="택배 거래" value="택배 거래"><label for="택배 거래">택배
                            거래</label>
                    </div>
                    <input type="submit" value="상품 등록">
                </div>
            </div>
            <div class="right">
                <div class="category">
                    <select name = "major_category" id = "major_category">
                        <option value = "의류">의류</option>
                        <option value = "문구">문구</option>
                        <option value = "푸드">푸드</option>
                        <option value = "잡화">잡화</option>
                    </select>
                    <select name = "detail_category" id = "detail_category">
                        <option value = "학잠/과잠">학잠/과잠</option>
                        <option value = "후리스">후리스</option>
                        <option value = "주경바막/돕바">주경바막/돕바</option>
                        <option value = "기타(의류)">기타</option>
                    </select>
                    <select name = "is_preorder" id = "is_preorder">
                        <option value = "주문 후 제작">주문 후 제작</option>
                        <option value = "제작 완료">제작 완료</option>
                    </select>
                    
                </div>
                <div>
                    <div>
                        <input type="text" name="item" id="item-name" placeholder="상품 이름을 등록해주세요.">
                        <div class="won"><input type="number" name="price">원</div>
                        <hr class="hr-style">
                        <div class="seller-info">
                            <div>판매자 ID</div>
                            <hr class="hr-style2">
                            <div>{{session['id']}}</div>
                        </div>
                        <div class="seller-info">
                            <div>판매 지역</div>
                            <hr class="hr-style2">
                            <input type="text" name="addr" placeholder="주소를 입력하세요">
                        </div>
                        <hr class="hr-style">
                        <div class="explain-container">
                            <div class="item-explain">상품 설명</div>
                            <textarea placeholder="상품 설명을 입력해 주세요." id="textarea" name="itemexp" cols="60" rows="9"></textarea>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>


</div>

{% endblock section %}