{% extends "index.html" %}

{% block head %}
    <title>상품 리뷰 상세 페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review_detail.css') }}">
{% endblock %}

{% block section %}
<div class="review-detail-wrapper">
    <!-- 뒤로가기 버튼 -->
    <div class="btn-container">
        <a href="/review" class="back-btn">
            <img src="{{ url_for('static', filename='svg/goBack.svg') }}" alt="뒤로가기 버튼">
        </a>
    </div>

    <!-- 리뷰 상세 페이지 컨테이너 -->
    <div class="review-detail-container">
        <form>
            <!-- 왼쪽 영역: 리뷰 정보 -->
            <div class="review-info">
                <h1>{{data.title}}</span></h1>
                <h2>{{data.review_item}}</h2>
                <p>상품 만족도 : {% if data.rate_item == 0 %}
                    ☆☆☆☆☆
                    {% elif data.rate_item == 1 %}
                    ★☆☆☆☆
                    {% elif data.rate_item == 2 %}
                    ★★☆☆☆
                    {% elif data.rate_item == 3 %}
                    ★★★☆☆
                    {% elif data.rate_item == 4 %}
                    ★★★★☆
                    {% elif data.rate_item == 5 %}
                     ★★★★★
                    {% endif %} </p>
                <p>배송 상태 만족도 : {% if data.rate_deliver == 0 %}
                    ☆☆☆☆☆
                    {% elif data.rate_deliver == 1 %}
                    ★☆☆☆☆
                    {% elif data.rate_deliver == 2 %}
                    ★★☆☆☆
                    {% elif data.rate_deliver == 3 %}
                    ★★★☆☆
                    {% elif data.rate_deliver == 4 %}
                    ★★★★☆
                    {% elif data.rate_deliver == 5 %}
                    ★★★★★
                    {% endif %} </p>
                <p>키워드 : 
                    <span class="keyword">판매자 친절함</span>
                    <span class="keyword">강추!</span>
                    <span class="keyword2">+ 더보기</span>
                </p>
                <p>작성자 : {{data.reviewer_id}} </p>
            </div>

            <!-- 오른쪽 영역: 이미지 -->
            <div class="review-images">
                <div class="image-box"><img src="../../static/images/{{data.img_path}}" width="350px"height="250px"></div> <!-- 이미지 공간 -->
            </div>
        </form>
    </div>
        
    <!-- 하단 리뷰 내용 박스 -->
    <div class="review-content">
        <p>{{data.review}}</p>
        
    </div>
</div>

{% endblock %}
