{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
    <title>리뷰 전체 페이지</title>
{% endblock %}

{% block section %}
<div class="main">
        
    <nav class="category-nav">
        <a href="#">의류</a>
        <p>|</p>
        <a href="#">문구</a>
        <p>|</p>
        <a href="#">뷰티</a>
        <p>|</p>
        <a href="#">푸드</a>
        <p>|</p>
        <a href="#">디지털</a>
        <p>|</p>
        <a href="#">잡화</a>
    </nav>

    <nav class="subcategory-nav" id="subcategory">
        <a href="#">세부1</a>
        <a href="#">세부2</a>
        <a href="#">세부3</a>
    </nav>

    <div class="review-header">
        <a href="/reg_reviews" class="add-review-btn">+ 새 리뷰 등록</a>
        <p class="review-count">현재까지 {{total}}개 리뷰 등록됨</p>
    </div>

    <a id="review_title">리뷰 리스트</a><br>
    {% if total > 0 %}
    <a id="review_info">전체 리뷰는 {{total}}개입니다.</a>
    <div class="product-list">
      <table>
        <tr>
            {% for key, value in row1 %}
                <td class="product-name">{{value.title}}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row1 %}
            <td onclick="location.href='/review_detail/{{key}}/';" style="cursor:pointer;"><img src="static/images/{{value.img_path}}", width=200, height=200></td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row2 %}
            <td class="product-name">{{value.title}}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row2 %}
            <td onclick="location.href='/review_detail/{{key}}/';" style="cursor:pointer;"><img src="static/images/{{value.img_path}}", width=200, height=200></td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row3 %}
            <td class="product-name">{{value.title}}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row3 %}
            <td onclick="location.href='/review_detail/{{key}}/';" style="cursor:pointer;"><img src="static/images/{{value.img_path}}", width=200, height=200></td>
            {% endfor %}
        </tr>
      </table>
    </div>
    <div class="page-wrap">
      <div class="page-nation">
        <ul>
          <li>
            {% for i in range(page_count)%}
            <a href="{{url_for('view_review', page=i)}}" color="black">{{i+1}}</a>
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
    {% else %}
    <a id="review_info">등록된 리뷰가 없습니다. </a>
    {% endif %}
  </div>

</div>
{% endblock section %}

