<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화마켓:회원가입</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <script src="{{ url_for('static', filename='signup.js') }}" defer></script>
</head>

<body>
    {% with mesg = get_flashed_messages() %}
    {% if mesg !=[] %}
    <script>alert("{{ mesg[0] }}")</script>
    {% endif %}
    {% endwith %}
    <div class="main-logo">
        <a href="/">
            <img src="../static/svg/loginLogo.svg" alt="loginLogo" />
        </a>
    </div>
    <div class="container">
        <div class="title">회원가입</div>
        <form action="/signup_post" method="post">
            <div class="direction-row">
                <input class="input" type="id" name="id" placeholder="아이디" required>
                <button type="button" class="check-btn" id="id-check-btn">중복<br>확인</button>
            </div>

            <div id="id-check-msg">
                
            </div>
            <div class="direction-row margin-bottom">
                <input class="input " type="password" name="pw" placeholder="비밀번호(영문, 숫자, 특수기호)" required>
                <div class=""></div>
            </div>
            <div class="direction-row">
                <input class="input pw-confirm-input" type="password" placeholder="비밀번호를 한번 더 입력해주세요" required>
                <button class="check-btn" id="pw-check-btn">pw<br>확인</button>
            </div>
            <div id="pw-check-msg">
                
            </div>
            <div class="email-container">
                <input class="email-input" name="email" type="text" placeholder="이메일">
                @
                <input class="email-input" name="email-domain" type="text" placeholder="직접 입력">
            </div>
            <input class="tel-container" name="tel" type="tel" placeholder="휴대폰 번호">
            <input class="submit-btn" type="submit" value="회원가입">
        </form>
    </div>
</body>

</html>